

<div style="padding-bottom: 15px;">
    <mat-card *ngFor="let post of posts" style="margin-bottom: 15px;">

        <mat-card-header *ngIf="!post.new">
            <mat-card-title style="word-break: break-word !important;">
                {{ post.title }}
            </mat-card-title>
        </mat-card-header>

        <mat-card-header *ngIf="post.new">
            <mat-card-title id="newtitle" contenteditable style="word-break: break-word !important;">
                {{ post.title }}
            </mat-card-title>
        </mat-card-header>


        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        
        <mat-card-content *ngIf="!post.new">
            <p style="word-break: break-word !important;">
                {{ post.content }}
            </p>
        </mat-card-content>
        <mat-card-content *ngIf="post.new">
            <p style="word-break: break-word !important;" contenteditable>
                {{ post.content }}
            </p>
        </mat-card-content>

        <mat-card-actions *ngIf="!post.new">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="post.new">
            <button mat-button (click)="publish()">PUBLISH</button>
        </mat-card-actions>

    </mat-card>
</div>

<div>
    <button (click)="newPost()" color="primary" mat-fab class="button-add">
        <mat-icon>add</mat-icon>
    </button>
</div>