
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();

$client-primary: mat-palette($mat-indigo);
$client-accent: mat-palette($mat-pink, A200, A100, A400);
$client-warn: mat-palette($mat-red);

$client-theme: mat-light-theme((
    color: (
        primary: $client-primary,
        accent: $client-accent,
        warn: $client-warn,
    )
));

@include angular-material-theme($client-theme);

.bg-dark {
  background-color: rgb(34, 34, 34);
  color: rgb(221, 221, 221);
  span {
    color: rgb(221, 221, 221);
  }
  mat-toolbar, mat-card {
    background-color: rgb(68, 68, 68);
  }
  mat-card-content, mat-card-subtitle, mat-card-title, mat-form-field, mat-label {
    color: rgb(221, 221, 221) !important;
  }
}

.mat-card-header-text {
  width: 100% !important;
}

.container {
  margin: 10px 30%;
}

.bg-light {
  background-color: rgb(221, 221, 221);
  color: rgb(34, 34, 34);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
