
<div>
    <mat-toolbar fxLayoutGap="5px">
        <button mat-button [routerLink]="['/']"> Home </button>
        <button mat-button [routerLink]="['/posts']"> Posts </button>
        <div fxFlex>
          <mat-slide-toggle color="warn" style="float: right;" 
                            (change)="changeColor($event.checked)" >
            <mat-icon [ngStyle]="{'color': valueToggle ? '#dbd523' : 'black'}">
              emoji_objects
            </mat-icon>
          </mat-slide-toggle>
        </div>
      </mat-toolbar>
</div>
 
